{% extends "base_generic.html" %}


{% block content %}

<script>
	function submit(id){
		const form = document.getElementById(id)
		form.submit()
	}
</script>

<div class="content-wrapper" id="content">
  {% for mm in months %}
  <table>
    <thead>
      <tr>
		<th colspan=4><span class="align-sub">Calendar to book your day at the office</span></th>
		<th>
			<button
				class="align-sub"
				hx-trigger="click"
				hx-target="#content"
				hx-swap="outerHTML"
				hx-push-url="true"
				hx-get="/?id={{ prev }}">
				Prev
			</button>
		</th>
		<th>
            {{ mm.0 }} {{ mm.1 }}
        </th>
		<th>
			<button
				class="btn btn-primary mt-10 align-sub"
				role="button"
				hx-trigger="click"
				hx-target="#content"
				hx-swap="outerHTML"
				hx-push-url="true"
				hx-get="/?id={{ next }}">
				Next
			</button>
		</th>
      </tr>
      <tr>
          <th>MON</th>
          <th>TUE</th>
          <th>WED</th>
          <th>THU</th>
          <th>FRI</th>
          <th>SAT</th>
          <th>SUN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	      {% for cell in mm.2 %}
	      <!-- <td class={{cell.status}}> -->
	      <td class="date-cell {{ cell.status }}" onclick="submit({{cell.id}})" data-cell-id="{{cell.id}}">
			<form id={{cell.id}} method="post" action="/pubsub">{% csrf_token %}
				<input type=hidden name=day value={{cell.id}}>
			</form>
			<div class="date {{cell.present}}">{{cell.name}}</div>
			<div class="details">{{cell.details}} spots lefts</div>
	      </td>
	      	{%if cell.wd == 6 %}
      		 </tr><tr>
		{% endif %}
	      {% endfor %}
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  {% endfor %}
  <br/>

  <ul>
  {% for booking in months.0.2 %}
  	{% if booking.present == "booked" %}
	<li> On {{ booking.date }} {{ user.first_name }} {{ user.last_name }} is  booked</l1>
  	{% endif %}
  {% endfor %}
  </ul>
  <br/>


  <br/>
  <br/>
  <br/>
  <li><a href="{% url 'logout' %}">Logout</a></li>
</div>
{% endblock %}

